/********************************************/
/* Web del Romanticismo                     */
/* Hojas de estilo para autores             */
/* Autor: Miguel Ángel Ávila Rosas          */
/* Version: 2.0                             */
/* Creado el: 11 de noviembre de 2022       */
/* Actualizado el: 18 de noviembre de 2022  */
/********************************************/

/* ESTILO GENERAL */

@font-face {
    src: url('../Fonts/Christmas\ Chimney.ttf');
    font-family: titulos;
    }
    
@font-face {
    src: url('../Fonts/RobotoCondensed-Regular.ttf');
    font-family: textos;
    }

h1,h2,h3 {
        border-bottom: 2px solid aqua;
        width: 75%;
        text-align: center;
        margin:auto;
        margin-bottom: 50px;
        }

p {
    text-align: justify;
  }

body { margin: 0%;padding: 0%; /*Para qitar el color del fondillo*/
    font-family: textos;
    /*padding: 3%; no necesito un padding con un layaout single colum */
    background-color: rgb(214, 183, 239);
    margin: 0;padding: 0;
     }

#wrapper {width: 80%;
background-color: aliceblue;
margin: auto;}

/* HERO SECTION OPCIÓN 1: FOTO + TEXTO */

#hero {
       background-image: url(../Imagenes/herosection/wanderer-above-the-sea-fog-friedrich.jpg);
       height: 100vh;
       background-repeat: no-repeat;
       background-size: cover;
       background-position: 33%;
       font-family: titulos;
       font-size: 3rem;
       padding-left: 3%;
       padding-top: 10px;
      }

#titulo {
         font-family: titulos;
         background-color: rgba(255, 255, 255,0.5);
         width: 30%;
         padding-left: 2%;
         text-align: center;
         border-radius: 50%;
         padding-top: 40px;
         padding-bottom: 40px;
        }

/* HERO SECTION OPCIÓN 2: HAIKEI.APP + POSITION + FROSTED GLASS */

#hero2 {
        background-image: url(../Imagenes/layered-peaks-haikei.svg);
        height: 90vh;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative; /*El hero se mueve de sitio al encoger la pantalla*/
       }

#titulo2 {
          font-family: titulos;
          color: white;
          font-size: 40px;
          padding-top: 2%;
          padding-bottom: 2%;
          text-align: center;
          width: 40%;
          background-color: rgba(255, 255, 255, 0.25);
          position: absolute; /*Se fija dentro de un hero*/
          top: 10%;
          left: 50%;
          transform: translate(-50%); /*Permite hacer mas modificaciones en una de las cajas.*/

          /*Todas estan reglas permiten colocar una caja dentro de otra caja.*/

          /*Efecto "frosted glass" (fondo blanco y con opacidad por debajo de 0.5).*/
          backdrop-filter: blur(5px);

         }

/* HERO SECTION OPCIÓN 3: COLR LISO + GETWAVES */

#hero3 {
        background-color: #ff5500;/*Mismo color que la ola*/
        height: 30vh;
        position: relative;
       }

#titulo3 {
          color: white;
          font-family: titulos;
          font-size: 50px;
          position: absolute;
          text-align: center;
          top: 5%;
          left: 50%;
          transform: translate(-60%);

         }

#intro {
        background-color: #ff5500;
       }

/*MEDIA QUARIES*/
@media only screen and (width <= 1800px){
    #wrapper {width: 90%;}

    #titulo {
             width: 35%;
             font-size: 3rem;
             padding-top: 40px;
             padding-bottom: 40px;
            }
    #titulo2 {
              width: 40%;
             }
}

@media only screen and (width <= 1200px){
    #wrapper {width: 100%;}

    #titulo {
            width: 40%;
            font-size: 3rem;
            padding-top: 40px;
            padding-bottom: 40px;
            }
    #titulo2 {
              width: 40%;
             }
}